#home .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

#home .trigger:hover {
  color: #1890ff;
}

#home .logo {
  height: 32px;
  margin: 16px;
}

#home .title {
  position: absolute;
  top: 21px;
  color: white;
  font-family: 'Microsoft Yahei', Courier, monospace;
  font-size: 16px;
  overflow: hidden;
}